body {
  padding-top: 92px;
}

header {
  /* background-color: rgb(119, 47, 47); */
  font-size: 1.2rem;
}
.top-bar {
  /* display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between; */
}

.logo {
  max-width: 200px;
  max-height: 50px;
  margin: .5rem 1rem .5rem 0;
}
.btn-login {
  margin-left: auto;
}

#menu-btn {
  margin-left: 20px;
}

main {
  background-color: #e2e2e2;
}

footer {
  padding: .5rem 1rem;
}