body {
  margin-top: 92px;
}

header {
  /* background-color: rgb(119, 47, 47); */
  font-size: 1.2rem;
}

.logo {
  max-width: 200px;
  max-height: 50px;
  margin: .2rem 1rem .2rem 0;
}

#menu-btn {
  margin-left: 20px;
}

main {
  background-color: #e2e2e2;
}

footer {
  padding: .5rem 1rem;
}
